<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="CON" connectionString="workstation id=centpur.mssql.somee.com;packet size=4096;user id=anago_SQLLogin_1;pwd=test1234;data source=centpur.mssql.somee.com;persist security info=False;initial catalog=centpur" />
    <add name="centpurCON" connectionString="Data Source=centpur.mssql.somee.com;Initial Catalog=centpur;Persist Security Info=True;User ID=anago_SQLLogin_1;Password=test1234;Packet Size=4096;Workstation ID=centpur.mssql.somee.com"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
</configuration>
